In [1]:
#!pip install pandas

In [2]:
import pandas as pd
import numpy as np

dataset = np.array([['kor', 70], ['math', 80]])
df = pd.DataFrame(dataset, columns=['class', 'score'])
df = pd.DataFrame(data=[['kor', 70], ['math', 80]], columns=['class','score'])
df = pd.DataFrame({'class': ['kor', 'math'], 'score': [70, 80]})
df

  class  score
0   kor     70
1  math     80

In [3]:
#filepath = 'dataset/data.csv’

In [4]:
#df = pd.read_csv(filepath, na_values='NA', encoding='utf8')

In [5]:
#data.to_csv('result.csv', header=True, index=True, encoding='utf8')

In [6]:
filepath = '../data/result.csv'

In [7]:
df.to_csv(filepath, header=True, index=True, encoding='utf8')

In [8]:
df_2 = pd.read_csv(filepath, na_values='NA', encoding='utf8')
df_2

   Unnamed: 0 class  score
0           0   kor     70
1           1  math     80

In [9]:
#!pip install scikit-learn

In [10]:
from sklearn.datasets import load_iris
iris = load_iris()
iris = pd.DataFrame(iris.data, columns=iris.feature_names)
iris

/Users/elnath/anaconda3/envs/venv_dl_sample/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [11]:
iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [12]:
iris.tail()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

In [13]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [14]:
iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [15]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [16]:
list(df.index)

[0, 1]

In [17]:
df.index = ['A', 'B']
df.index

Index(['A', 'B'], dtype='object')

In [18]:
df

  class  score
A   kor     70
B  math     80

In [19]:
df.set_index('class', drop = True, append = False, inplace = True)
df

       score
class
kor       70
math      80

In [20]:
df.reset_index(drop = False, inplace = True)
df

  class  score
0   kor     70
1  math     80

In [21]:
iris.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [22]:
iris.columns = ['sepal length', 'sepal width', 'petal length', 'petal width']
iris.head(3)

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2

In [23]:
iris.columns = iris.columns.str.replace(' ', '_')
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2

In [24]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
dtype: object

In [25]:
iris['sepal_length'] = iris['sepal_length'].astype('int')
iris[['sepal_width', 'petal_length']] = iris[['sepal_width', 'petal_length']].astype('int')
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width
0             5            3             1          0.2
1             4            3             1          0.2
2             4            3             1          0.2

In [26]:
iris.dtypes

sepal_length      int64
sepal_width       int64
petal_length      int64
petal_width     float64
dtype: object